<h1> Welcome to <%= @park.name.capitalize %> Park </h1>

<h3> Available Courts At this Park </h3>

	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Sport</th>
			<th>Game Launch</th>
		</tr>
			<% @count = 1%>
	<% @park.courts.each do |court| %>
		<tr>
			<td><%= @count %></td>
			<td><%= court.sport.name %></td>
			<td><a data-method="get" href="/games/new?court_id=<%= court.id %>">Create a game at this court</a></td>
		</tr>
			<% @count = @count + 1 %>
		<% end %>
	</table>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXgnWnrHcxQ0i1E9k2cWmfC_mRzwru97A">
  	</script>
    <script type="text/javascript">
      function initialize() {
        var parkLat = <%= @park.lat %>
        var parkLng = <%= @park.lng %>
        var mapOptions = {
          center: { lat:  parkLat , lng:  parkLng },
          zoom: 16
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var marker = "";

        	<% if @park.lat && @park.courts.any? %>
		      	marker = new google.maps.Marker({
				      position: new google.maps.LatLng(<%= @park.lat %>, <%= @park.lng %>),
				      map: map,
				      title: "<%= @park.name %>"
		  			});

		  			google.maps.event.addListener(marker, 'click', function() {
    					new google.maps.InfoWindow({
      					content: "<a href='/parks/<%= @park.id %>'><%= @park.name %></a>"
  							}).open(map,marker);
 						 });
		  			<% end %>
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>

<div id="map-canvas"></div>






			  



