<%= form_for @game do |f| %>
	<div>
	<%= f.label :title %>
	<%= f.text_field :title %>

	<%= f.label :how_many_players_do_you_have_already? %>
	<%= f.text_field :players_committed %>

	<%= f.label :how_many_more_are_you_looking_for? %>
	<%= f.text_field :players_looking_for %>

	<%= f.label :court_id? %>
	<%= f.text_field :court_id %>
	
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>