
<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXgnWnrHcxQ0i1E9k2cWmfC_mRzwru97A">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 41.87811, lng: -87.62980},
          zoom: 11
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var markers = [];
        <% @parks.each_with_index do |park, index| %>

	        	

        	<% if park.lat && park.courts.any? %>
		      	markers[<%= index %>] = new google.maps.Marker({
				      position: new google.maps.LatLng(<%= park.lat %>, <%= park.lng %>),
				      map: map,
				      title: "<%= park.name %>"
		  			});

		  			google.maps.event.addListener(markers[<%= index %>], 'click', function() {
    					new google.maps.InfoWindow({
      					content: "<a href='/parks/<%= park.id %>'><%= park.name %></a>"
  							}).open(map,markers[<%= index %>]);
 						 });
		  			<% end %>

      <% end %>
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      
      
    </script>
  </head>

	
	<body>
		<h1>Welcome to Game-Match-Set</h1>

		<div id="map-canvas"></div>

		<h1> Games Available Now </h1>

	
			<% games = [] %>
			<% 4.times do %>
				<% games << @games.sample %>
			<% end %>

		<div class="column">
			<% games.each do |game| %>
		 	<ul>
		  	<li>Game:<a href="<%= @link %>/games/<%= game.id %>"><%= game.title %></a></li>
		  	<li>Status:  <%= game.status %></li>
		  	<li>User:  <%= game.first_name %> <%= game.last_name %> </li>
		 </ul>
		</div>
		  	
		<% end %>
		
		<ul>
			<li><a href="<%= @link %>">Home</a></li>
		  </br>
			<li><a href="<%= @link %>games/mygame">My Game</a></li>
			</br>
			<li><a href="<%= @link %>games/new">Create a new game</a></li>
		   </br>
		</ul>

			<% if user_signed_in? %>
				<ul>
			  	<li><a href="/users/sign_in">Sign Out</a></li>
			  </ul>
			<% else %>
				<ul>
					<li><a href="/users/sign_in">Sign In</a></li>
					<li><a href="/users/sign_up">Sign Up</a></li>
				</ul>

 
			<% end %>

	</body>
</html>


