<h1> Games Happening Now </h1>
	<table class="table table-bordered">
		<tr>
			<th></th>
			<th>Game Title/Sport</th>
			<th>Park/Skill Level</th>
			<th>Creator</th>
			<th>Players Looking For</th>
		</tr>

		<% games = [] %>
		<% games = @games.sample(4) %>
		<% @count = 1 %>
		<% games.each do |game| %>
		<tr>
				<td><%= @count %></td>
				<td><a href="/games/<%= game.id %>"><%= game.title %></a>-
						<%= game.court.sport.name %></td>
				<td><a href="/parks/<%= game.court.park.id %>"><%= game.court.park.name.capitalize %></a>-
						<%= game.skill_level %></td>
				<td><%= game.first_name %></td>
				<td><%= game.players_looking_for %></td>
		</tr>
				<% @count = @count + 1 %>
				<% end %>
	</table>

<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXgnWnrHcxQ0i1E9k2cWmfC_mRzwru97A">
  	</script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 41.87811, lng: -87.62980},
          zoom: 11
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var markers = [];
        <% @parks.each_with_index do |park, index| %>

        	<% if park.lat && park.courts.any? %>
		      	markers[<%= index %>] = new google.maps.Marker({
				      position: new google.maps.LatLng(<%= park.lat %>, <%= park.lng %>),
				      map: map,
				      title: "<%= park.name %>"
		  			});

		  			google.maps.event.addListener(markers[<%= index %>], 'click', function() {
    					new google.maps.InfoWindow({
      					content: "<a href='/parks/<%= park.id %>'><%= park.name %></a>"
  							}).open(map,markers[<%= index %>]);
 						 });
		  			<% end %>

      <% end %>
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
<div id="map-canvas"></div>
			<% games = [] %>
				<% games = @games.sample(4) %>
				<% @count = 1 %>
	<div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <%= games[0].title %></a>
          	</div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
              <ul>
               <li> <%= games[0].court.sport.name =%>--<%= games[0].skill_level =%> </li>
               <li> <%= games[0].first_name %></li>
               <li><a href="/games/<%= games[0].id %>"></a></li>
              </div>
          </div>
				</div>
				<div class="panel panel-default">
          <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            <%= games[1].title %></a>
          	</div>
            <div id="collapseTwo" class="panel-collapse collapse in">
              <div class="panel-body">
              <ul>
               <li> <%= games[1].court.sport.name =%>--<%= games[1].skill_level =%> </li>
               <li> <%= games[1].first_name %></li>
               <li><a href="/games/<%= games[1].id %>"></a></li>
              </div>
          </div>
				</div>
				<div class="panel panel-default">
          <div class="panel-heading">
           <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            <%= games[2].title %></a>
          	</div>
            <div id="collapseThree" class="panel-collapse collapse in">
              <div class="panel-body">
              <ul>
               <li> <%= games[2].court.sport.name =%>--<%= games[2].skill_level =%> </li>
               <li> <%= games[2].first_name %></li>
               <li><a href="/games/<%= games[2].id %>"></a></li>
              </div>
          </div>
				</div>
</div>
		

