<h1> Games Happening Now </h1>
    
<div class="row">
  <div class="col-sm-6">
    
	<table class="table table-striped">
		<tr>
			<th></th>
			<th>Game Title/Sport</th>
			<th>Park/Skill Level</th>
			<th>Creator</th>
			<th>Players Looking For</th>
		</tr>
		<% @count = 1 %>
		<% @games.each do |game| %>
		<tr>
				<td><%= @count %></td>
				<td><a href="/games/<%= game.id %>"><%= game.title %></a>-
						<%= game.court.sport.name %></td>
				<td><a href="/parks/<%= game.court.park.id %>"><%= game.court.park.name.capitalize %></a>-
						<%= game.skill_level %></td>
				<td><%= game.first_name %></td>
				<td><%= game.players_looking_for %></td>
		</tr>
				<% @count = @count + 1 %>
				<% end %>
	</table>
  </div>
</div>


			
	
		

