

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXgnWnrHcxQ0i1E9k2cWmfC_mRzwru97A">
  	</script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 41.87811, lng: -87.62980},
          zoom: 11
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var markers = [];
        <% @parks.each_with_index do |park, index| %>

        	<% if park.lat && park.courts.any? %>
		      	markers[<%= index %>] = new google.maps.Marker({
				      position: new google.maps.LatLng(<%= park.lat %>, <%= park.lng %>),
				      map: map,
				      title: "<%= park.name %>"
		  			});

		  			google.maps.event.addListener(markers[<%= index %>], 'click', function() {
    					new google.maps.InfoWindow({
      					content: "<a href='/parks/<%= park.id %>'><%= park.name %></a>"
  							}).open(map,markers[<%= index %>]);
 						 });
		  			<% end %>

      <% end %>
      }
      google.maps.event.addDomListener(window, 'load', initialize);

      
      
    </script>

		
<h1> Games Happening Now </h1>

		<% games = [] %>
		<% 4.times do %>
				<% games << @games.sample %>
		<% end %>

	<table class="table table-bordered">
		<tr>
			<th></th>
			<th>Game Title</th>
			<th>Sport</th>
			<th>Park</th>
			<th>Skill Level</th>
			<th>Creator</th>
			<th>Players Commited</th>
			<th>Players Looking For</th>
			<th>Commit</th>
		</tr>
				<% @count = 1%>
				<% games.each do |game| %>
		<tr>
			<td><%= @count %></td>
			<td><%= game.title %></td>
			<td><%= game.court.sport.name %></td>
			<td><%= game.court.park.name %></td>
			<td><%= game.skill_level %></td>
			<td><%= game.first_name %></td>
			<td><%= game.players_committed %></td>
			<td><%= game.players_looking_for %></td>
			<td><button type="button" class="btn btn-default"><a href="<%= @link %>/games/<%= game.id %>">Commit To Game</a></button></td>
		</tr>
				<% @count = @count + 1 %>
				<% end %>
	</table>
<div id="map-canvas"></div>
