<%= form_for @game do |f| %>
	<div>
		<ul>
			<li><%= f.label :title %>
			<%= f.text_field :title %></li>

			<li><%= f.label :players_committed %>
			<%= f.select :players_committed, options_for_select(1..20) %></li>

			<li><%= f.label :players_looking_for %>
			<%= f.select :players_looking_for, options_for_select(1..20) %></li>

			<li><%= f.label :skill_level %>
				<%= f.select :skill_level, options_for_select(["Beginner", "Recreational", "Competitive"]) %></li>

		</ul>
				<%= f.hidden_field :court_id, value: @court_id %>
	</div>

		<div>
			<%= f.submit %>
		</div>
		
<% end %>

<%= form_for @gamed_players do |f| %>
				  <div>
				    <%= f.hidden_field :game_id, value: @game_id %>
				    <%= f.hidden_field :user_id, value: current_user.id %>

				    </br>
				    <%= f.select :players_bringing, options_for_select(1..20) %>
				  </div> 
				  
				  <div>
				  	<%= submit_tag 'Join This Game' %>
				  </div>
				<% end %>