<div ng-app="app">
	<div ng-controller="gamesCtrl" ng-init="setupGame(<%= @game.id %>, <%= current_user.id %>)">
		<div class="row">
			<div class="col-sm-8">
			<h1> The Game: <%= @game.title %> -- <%= @game.sport_name %> </h1>
				<table class="table table-hover">
					<tr>
						<th>Created By</th>
						<th>Park</th>
						<th>Skill Level</th>
						<th>Players Committed</th>
						<th>Still Looking For</th>
						<th>Start Time</th>
					</tr>
					<tr>
						<td><%= @game.first_name %> <%= @game.last_name%>, email: <%= @game.email %></td>
						<td><%= @game.sport_name %> Court at <a href="/parks/<%= @game.court.park.id %>"><%= @game.park_name.capitalize %></td>
						<td><%= @game.skill_level %></td>
						<td><%= @game.players_committed %></td>
						<td><%= @game.players_looking_for %></td>
						<td><% if @game.start_time %>
							<%= @game.start_time.strftime("%b %e, %l:%M %p")%></td>
						<% end %></td>
					</tr>
				</table>

				<% if @game.user_id == current_user.id %>
					<h4> This is Your Game </h4>
						<button type="button" class="btn btn-danger"><a data-method="delete" href="/games/<%= @game.id %>" rel="nofollow">Remove Game</a></button>
						<button type="button" class="btn btn-info"><a data-method="get" href="/games/<%= @game.id %>/edit" rel="nofollow">Modify Game</a></button>
			
				 

				
				<% elsif @gamed_players.map(&:user_id).include?(current_user.id) %>
					  <p>You signed Up for this Game already<p>
					  	<button type="button" class="btn btn-danger"><a data-method="delete" href="/gamed_players/<%= @gamed_player_current.id %>" rel="nofollow">Remove Yourself</a></button>
					   

					<% else %>
							<%= form_for @gamed_player do |f| %>
					 		<div class="col-sm-4">
								<div class="panel panel-danger">
									<div class="panel-heading">
											<h3 class="panel-title">How Many are you brining(including yourself):</h3>
										</div>
									<div class="panel-body">
										<%= f.text_field :players_bringing %>
								</div>
							</div>
								
								<%= f.hidden_field :game_id, value: @game.id %>
								<%= f.hidden_field :user_id, value: current_user.id %>
							<div>
								<%= f.submit "Sign Up", class: "btn btn-danger" %>
							</div>
							</div>

							<% end %>
						<% end %>
					

			</div>
			

			<div class="col-sm-4">

				<h3>Other Users Signed Up </h3>
				<table class="table table-striped">
					<% @gamed_players.each do |player| %>
						<h5> <%= player.user.first_name %> <%= player.user.last_name %> 
							<%= player.user.email %> </h5>
					<% end %>



			</div>
		</div>
	</div>
</div>
